* {
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(49, 131, 253);
    margin: auto;
    text-align: center;
    height: 96vh;
}

body>h1 {
    color: white;
    margin-top: 10px;
    font-size: 3em;
    text-shadow: 2px 4px 0px black;
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    top: 50%;
    transform: translate(-0%, -50%);
    background-color: white;
    height: 750px;
    width: 750px;
    padding: 30px;
    box-shadow: 0px 2px 20px rgb(43, 43, 43);
    border-radius: 15px;
}

section>h1 {
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: underline;
}

.acesso {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 450px;
}

section label,
input {
    display: block;
    margin: 5px;
}

input {
    height: 50px;
    width: 400px;
    font-size: 2em;
    font-weight: 100;
    padding: 2px 4px;
}

label {
    font-size: 1.5em;
}

.botao {
    width: 200px;
    height: 50px;
    color: white;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px rgb(73, 73, 73);
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 5px;
    border: 3px solid rgb(18, 79, 248);
    background-image: linear-gradient(to right, #00DBF2, #3183FD);
    cursor: pointer;
}

.botao>a {
    text-decoration: none;
    color: white;
}

.botao>a:visited {
    text-decoration: none;
    color: white;
}